@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.home_background {
  --s: 70px; /* control the size*/
  --c2: #4CE4E4;
  --c1: #000000;
  
  background:
    conic-gradient(at 9% 9%,var(--c1) 75%,#0000 0),
    var(--c2);
  background-size: var(--s) var(--s);

  width: calc(100vw - 16px); /* - 16px because margin of 2 (8 px) */
  height: calc(100vh - 16px);
  overflow: hidden;
  margin: 8px;
  border: 2px solid #4CE4E4;
  animation: moveBackground 100s linear infinite;
  z-index: 1;
}


@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

.games_container {
  margin: 32px;
}

.game_portal {
  width: 240px;
  height: 148px;
  background-color: #000;
  border: 4px solid #DB7BF4;
  text-align: center;
  text-indent: 100%;
  white-space: nowrap;
  display: inline-block;
  font-size: 28px;
  cursor: pointer;
  padding: 0;
  margin-right: 24px;
  margin-bottom: 24px;
  overflow: hidden; /* Ensure the image doesn't overflow */
}

.game_portal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game_portal_overlay {
  width: 240px;
  height: 148px;
  position: absolute;
  white-space: nowrap;
  color: white;
  text-indent: 100%;
  z-index: 10;
  text-align: center;
  overflow: hidden;
}

.game_portal_overlay:hover {
  text-indent: 0%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.tictactoeBox {
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  border: 2px solid #4CE4E4;
}